<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页</title>
</head>
<body>
<ul>
{#    {% for area in page.object_list %}#}
    {% for area in page %}
        <li>{{ area.atitle }}</li>
    {% endfor %}
</ul>
{% if page.has_previous %}
    <a href="/show_area/{{ page.previous_page_number }}">&lt;上一页&gt;</a>
{% endif %}
{% for pindex in page.paginator.page_range %}
    {% if pindex == page.number %}
        {{ pindex }}
    {% else %}
        <a href="/show_area/{{ pindex }}">{{ pindex }}</a>
    {% endif %}
{% endfor %}
{% if page.has_next %}
    <a href="/show_area/{{ page.next_page_number }}">&lt;下一页&gt;</a>
{% endif %}
</body>
</html>