<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h3>添加书籍</h3>
<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <form action="/books/add/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">书籍名称</label>
                <input class="form-control" type="text" id="title" placeholder="名称" name="title">
            </div>
            <div class="form-group">
                <label for="price"> 价格</label>
                <input class="form-control" type="text" id="price" placeholder="价格" name="price">
            </div>
             <div class="form-group">
                <label for="pub_date">出版日期</label>
                <input class="form-control" type="date" id="pub_date" placeholder="出版日期" name="pub_date">
            </div>
            <div class="form-group">
                <label for="publish_id">出版社</label>
                <select class="form-control" name="publish_id" id="">
                    {% for publish in publish_list %}
                        <option value="{{ publish.pk }}">{{ publish.name }}</option>
                    {% endfor %}

                </select>
            </div>
              <div class="form-group">
                <label for="author">作者</label>
                <select class="form-control" name="author_list" id="author" multiple>
                    {% for author in author_list %}
                        <option value="{{ author.pk }}">{{ author.name }}</option>
                    {% endfor %}

                </select>
            </div>
           
            <input type="submit"value="submit" class="btn btn-default pull-right">
        </form>
    </div>
</div>

</body>
</html>