<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<h3>书籍列表</h3>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="/books/add/" class="btn btn-primary"> 添加书籍</a>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>书籍名称</th>
                <th>价格</th>
                <th>出版社</th>
                <th>出版日期</th>
                <th>作者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                {% for book in queryset %}
                <tr>
                     <td>{{ forloop.counter }}</td>
                     <td>{{ book.title }}</td>
                     <td>{{ book.price }}</td>
                     <td>{{ book.publish }}</td>
                     <td>{{ book.pub_date|date:"Y/m/d" }}</td>
                     <td>
                         {% for author in book.authors.all %}
                         <span>{{ author.name }}</span>
                         {% endfor %}

                     </td>
                     <td>
                         <a href="/books/delete/{{ book.pk }}">删除</a>
                         <button class="ajax_del" pk="{{ book.pk }}">Ajax删除</button>
                         <a href="/books/edit/{{ book.pk }}">编辑</a>
                     </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>
    </div>
</div>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script>
      $(".ajax_del").click(function () {
          let id=$(this).attr("pk");
          let $tr=$(this).parent().parent();
          $.ajax({
              url:"/del_ajax/",
              data:{
                  pk:id,
              },
              success:function (res) {
                  console.log(res);
                  if (res.state){ //  数据库删除成功!
                      $tr.replaceWith("<tr><td style='color:red' colspan=\"7\">删除成功!</td></tr>")

                  }else{ // 删除失败
                      alert("失败了!")
                  }
              }
          })

      })
  </script>
</body>
</html>