<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            //绑定btnAjax的click事件
            $('#btnAjax').click(function () {
                console.log('aaa')
                $.ajax({
                    'url': '/ajax_handle',
                    'dataType': 'json'
                }).success(function (data) {
                    //进行处理
                    //console.log(data.res)
                    if (data.res == 2) {
                        $('#message').show().html('提示信息')
                    }
                })

            })
        })
    </script>
    <style>
        #message {
            display: none;
            color: red;
        }
    </style>
</head>
<body>
<input type="button" id="btnAjax" value="ajax请求">
<div id="message"></div>
</body>
</html>